#timer {
    display: none;
    background-color: white;
    width: 55px;
    height: 55px;
    color: #ff654d;
    z-index: 88888888;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Press Start 2P", monospace;
    border-radius: 50%;
    border: 3px solid black;
    font-size: 18px;
}

#timer.show {
    display: flex;
    justify-content: center;
    align-items: center;
}