/*Minimal reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#modal {
    display: none; 
    position: fixed; 
    z-index: 666666;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

#modal.show{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10%;
}

#fridgeModal, #ovenModal, #deliveryModal{
    display: none;
    grid-column: 1/2;
    position: relative;
    right: 0;
    justify-self: end;
}

#fridgeModal.show, #ovenModal.show, #deliveryModal.show{
    display: block;
}

#fridgeModal{
    width: 40%;
    height: 65%;
}

#ovenModal{
    width: 50%;
    height:45%;
}

#deliveryModal{
    width: 50%;
    height: 50%;
}

.modalContent {
    background-color: #b9b9b9;
    border: 10px solid #323232;
    position: relative;
    z-index: 7777777;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}

#deliveryModal .modalContent{
    background-color: white;
    border: 10px solid #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden;  
}

#ovenModal .modalContent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; 
    overflow: hidden;  
    gap: 10px; 
}

#ovenModal .modalContent div, #deliveryModal .modalContent div, .fridgeSlot{
    border: 4px dashed lightslategray;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deliveryModal .modalContent div{
    border-radius: 50%;
}

.fridgeSlot{
    border: 4px dashed gray;
}

#fridgeModal .modalContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; 
}

/* the bake button */
#ovenModal button{
    cursor: pointer;
    color: greenyellow;
    z-index: 88888888 !important;
    display: block !important;
    top: -50px;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.btn{
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    position: absolute;
    cursor: pointer;
    display: none;
    z-index: 55555;
    font-family: "VT323", monospace;
    font-size: 20px;
}

#fridgeBtn{
    top: -35px;
    left: 18px;
}

#ovenBtn{
    top: 95px;
    left: 8px;
}

.btn.show{
    display: flex;
}

/* the close button */
.close {
    color: white;
    background-color: red;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: -50px;
    top: -50px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-shadow: none;
    text-align: center;
}

.close:hover, .close:focus {
    background-color: rgb(160, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

#inventory{
    position: absolute;
    display: none;
    width: 60%;
    height: 20%;
    grid-column: 2/3;
    justify-self: start;
}

#inventory .grid{
    width: 100%;
    height: 100%;
    background-color: rgb(224, 231, 232);
    border: 5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#inventory .grid div{
    border: 4px dashed lightslategray;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inventory h3{
    color: white;
    font-family: "Press Start 2P", monospace;
    position: absolute;
    top: -40px;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#inventory.show{
    display: block;
}

#inventory .food, #fridgeModal .food, #deliveryModal .food{
    width: 90%;
    cursor: pointer;
    max-height: 100%;  
    object-fit: contain;  
}

#deliveryModal .food{
    width: 70%;
}

#ovenModal .food{
    height: 90%;
    cursor: pointer;
    object-fit: contain; 
}

#putOrderBtn{
    display: none;
}

#putOrderBtn.show{
    display: block;
}

#deliverBtn{
    cursor: pointer;
    color: greenyellow;
    z-index: 88888888 !important;
    display: block !important;
    top: -60px;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#recipeBook{
    width: 60%;
    max-height: 80vh;
    display: none;
    justify-self: center;
    grid-column: 1/3;
    position: relative;
}

.recipeBookContent{
    width: 100%;
    height: 100%;
    background-color: #fcf4dc;
    border: 10px solid #cd4c3c;
    font-family: "VT323", monospace;
    font-size: 30px;
    overflow-y:auto;
}

#recipeBook.show{
    display: block;
}

#recipeBtn{
    display: block !important;
    position: absolute;
    top: 220px;
    left: 5px;
}

.recipeRow{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.recipeRow h3{
    padding-bottom: 10px;
}

.recipeIngredients{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#recipeBook img{
    width: 40px;
}

#messageModal{
    width: 35%;
    height: 50%;
    display: none;
    grid-column: 1/3;
    justify-self: center;
    position: relative;
    /* top: 50px;

    padding: 40px;   */
}

#messageContent{
    background-color: #fcf4dc;
    border: 10px solid #cd4c3c;
    z-index: 7777777;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    font-family: "VT323", monospace;
    font-size: 30px;
}

#messageModal h3{
    font-size: 50px;
}

#messageModal.show, #charCustomisationModal.show{
    display: block;
}

#charCustomisationModal{
    width: 60%;
    height: 80vh;
    display: none;
    justify-self: center;
    grid-column: 1/3;
    position: relative;
}

#charCustomisationModal .content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow-y:auto;
    width: 100%;
    height: 100%;
    background-color: #fcf4dc;
    border: 10px solid #cd4c3c;
    padding: 40px;
}

#charCustomisationModal div img {
    width: 100%;
}

#charBtn{
    display: block !important;
    top: 120px;
    right: 5px;
}