/*Minimal reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --scale-size: 5;
}

body {
    background-image: url("../img/furniture/planks2.png");
    background-size: 50px 50px;
    background-repeat: repeat;
    image-rendering: pixelated;
}

.character {
    width: calc(32px * var(--scale-size));
    height: calc(33px * var(--scale-size));
    overflow: hidden;
    position: absolute;
    z-index: 333;
}

.animate_spritesheet {
    animation: moveSpritesheet 1.5s steps(3) infinite;
    left: 0 !important;
    z-index: 55555;
    cursor: pointer;
}

.character_spritesheet {
    left: calc(-32px * var(--scale-size));
    width: calc(96px * var(--scale-size));
    position: absolute;
}

.pixelart {
    image-rendering: pixelated;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.face-left {
    top: calc(-32px * var(--scale-size));
}

.face-right {
    top: calc(-64px * var(--scale-size));
}

.face-back {
    top: calc(-96px * var(--scale-size));
}

#feet {
    width: calc(22px * var(--scale-size));
    height: calc(3px * var(--scale-size));
    position: absolute;
    bottom: 0;
    right: calc(5px * var(--scale-size));
}

#wall img {
    position: absolute;
    top: 0;
    z-index: -99 !important;
}

#furniture img {
    position: absolute;
    z-index: 1;
}


#kitchenSet{
    top: 0;
}

/*
#stove{
    top: calc(12px * var(--scale-size));
    left: 432px;
} */

#kitchen {
    position: absolute;
    left: 50%;
    /* Place at the horizontal center */
    transform: translateX(-50%);
    /* Adjust to center horizontally */
    z-index: 22;
}

#counter {
    position: absolute;
    z-index: 1;
    left: 50%;
    /* Place at the horizontal center */
    transform: translateX(-50%);
    /* Adjust to center horizontally */
}

#counter img{
    position: absolute;
}

#counterCenter{
    position: absolute;
    left: 50%;
    /* Place at the horizontal center */
    transform: translateX(-50%);
    /* Adjust to center horizontally */
    z-index: 4444;
}

#kitchen_floor {
    background-image: url("../img/furniture/tiles.png");
    background-repeat: repeat; /* Repeat both horizontally and vertically */
    position: absolute;
    z-index: -999;
    left: 50%;
    /* Place at the horizontal center */
    transform: translateX(-50%);
    /* Adjust to center horizontally */
}

#walls {
    background-image: url("../img/furniture/wall.png");
    background-repeat: repeat; /* Repeat both horizontally and vertically */
    position: absolute;
    z-index: -99 !important;
    top: 0;
}

#fireplace{
    bottom: 0;
    left: 0;
}


#fridgeContainer, #ovenContainer{
    position: absolute;
}

#orderContainer{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    position: absolute;
    z-index: 4444;
    display: flex;
    flex-direction: column;
}

#orderContainer h3{
    text-align: center;
    height: 10%;
}

#orderContainer img{
    max-height: 90%;
}

#deliverySpot{
    position: absolute;
    z-index: 55555;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#delivery{
    max-width: 90%;
}

#scoreTracker{
    width: 200px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#scoreTracker div:first-of-type{
    display: flex;
    gap: 5px;
}

/* Style for the progress bar */
#levelProgress {
    width: 90%; /* Full width */
    height: 20px; /* Height of the bar */
    background: rgb(193, 243, 192); /* Background for empty part of the bar */
    margin: auto;
}
  
#progressBar {
    height: 100%; /* Full height */
    background: green; /* Color for the filled part */
}
  
#musicBtn{
    top: 400px;
    position: absolute;
}