@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=VT323&display=swap');
/*
font-family: "Press Start 2P"; 
font-family: "DotGothic16", sans-serif;
font-family: "Rancho", cursive;
font-family: "VT323", monospace;
*/

/*Minimal reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* sizing the character*/
:root {
    --scale-size: 5;
}

body {
    background-image: url("../img/furniture/planks2.png");
    background-size: 50px 50px;
    background-repeat: repeat;
    image-rendering: pixelated;
}

/* Style for the character */
.character {
    width: calc(32px * var(--scale-size));
    height: calc(33px * var(--scale-size));
    overflow: hidden;
    position: absolute;
    z-index: 333;
}

/* Animation for character movement. Basically it moves the spritesheet to the left continously so that the frame visible changes. And depending on the direction the character is moving, it moves to a different row*/
.animate_spritesheet {
    animation: moveSpritesheet 1.5s steps(3) infinite;
    left: 0 !important;
}

.character_spritesheet {
    left: calc(-32px * var(--scale-size));
    width: calc(96px * var(--scale-size));
    position: absolute;
}

.pixelart {
    image-rendering: pixelated;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.face-left {
    top: calc(-32px * var(--scale-size));
}

.face-right {
    top: calc(-64px * var(--scale-size));
}

.face-back {
    top: calc(-96px * var(--scale-size));
}

/* To be able to check for collisions */
#feet {
    width: calc(22px * var(--scale-size));
    height: calc(3px * var(--scale-size));
    position: absolute;
    bottom: 0;
    right: calc(5px * var(--scale-size));
}

/* Positioning and styling furniture, floor, walls etc */
#wall img {
    position: absolute;
    top: 0;
    z-index: -99 !important;
}

#furniture img {
    position: absolute;
    z-index: 1;
}

#kitchenSet{
    top: 0;
}

#kitchen {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 22;
}

#counter {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

#counter img{
    position: absolute;
}

#counterCenter{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4444;
}

#kitchen_floor {
    background-image: url("../img/furniture/tiles.png");
    background-repeat: repeat; 
    position: absolute;
    z-index: -999;
    left: 50%;
    transform: translateX(-50%);
}

#walls {
    background-image: url("../img/furniture/wall.png");
    background-repeat: repeat;
    position: absolute;
    z-index: -99 !important;
    top: 0;
}

#fridgeContainer, #ovenContainer{
    position: absolute;
}

/* Style for the order box */
#orderContainer{
    width: 200px;
    height: 200px;
    background-color: #faffdb;
    border: 10px solid #ff654d;
    border-radius: 10px;
    position: absolute;
    z-index: 4444;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-family: "VT323", monospace;
    padding: 10px 15px 15px 15px;
}

#orderContainer h3{
    text-align: center;
    max-height: 20%;
    font-size: 35px;
}

#orderContainer img{
    max-height: 80%;
    width: 75%;
}

#deliverySpot{
    position: absolute;
    z-index: 55555;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#delivery{
    max-width: 90%;
}

#scoreTracker{
    width: 200px;
    background-color: #faffdb;
    border: 10px solid #ff654d;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-family: "VT323", monospace;
}

#scoreTracker div:first-of-type{
    display: flex;
    gap: 5px;
}

/* Style for the progress bar */
#levelProgress {
    width: 90%;
    height: 20px;
    background: rgb(193, 243, 192); /* Background for empty part of the bar */
    margin: auto;
}
  
#progressBar {
    height: 100%;
    background: green; /* Color for the filled part */
}
  
#musicBtn{
    display: block !important;
    top: 200px;
    right: 10px;
}