/*Minimal reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* popup for help */
/* the modal (overlay background) */
#modal {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 666666;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* to have a darkened background*/
}

#fridgeModal, #ovenModal{
    display: none;
    grid-column: 1/2;
    position: relative;
    right: 0;
    justify-self: end;
}

#fridgeModal{
    width: 40%;
    height: 65%;
}

#ovenModal{
    width: 50%;
    height:45%;
}


#fridgeModal.show, #ovenModal.show{
    display: block;
}

/* to make the modal visible */
#modal.show{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10%;
}

/* modal content/box */
.modalContent {
    background-color: #b9b9b9;
    border: 10px solid #323232;
    position: relative;
    z-index: 7777777;
    width: 100%;
    height: 100%;

    border-radius: 10px;
    padding: 10px;
}

#ovenModal .modalContent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; 
    overflow: hidden;  /* Avoid overflow if content is larger */
    gap: 10px; 
}

#ovenModal .modalContent div{
    border: 4px dashed lightslategray;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ovenModal button{
    background-color: white;
    color: black;
}

#fridgeModal .modalContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; 
}

.fridgeSlot{
    border: 4px dashed gray;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.openBtn{
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    display: none;
    z-index: 55555;
    position: absolute;
    cursor: pointer;
}

#fridgeBtn{
    top: -42px;
    left: 0;
}

#ovenBtn{
    top: 90px;
    left: 0;
}

.openBtn.show{
    display: flex;
}

/* the close button */
.close {
    color: white;
    background-color: red;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: -50px;
    top: -50px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-shadow: none;
    text-align: center;
}

.close:hover, .close:focus {
    color: #dbdbdb;
    text-decoration: none;
    cursor: pointer;
}

#inventory{
    display: none;
    width: 60%;
    height: 20%;
    grid-column: 2/3;
    justify-self: start;
}

#inventory .grid{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px dashed darkslategrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#inventory .grid div{
    border: 4px dashed lightslategray;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inventory h3{
    color: white;
}

#inventory.show{
    display: block;
}

#inventory .food, #fridgeModal .food{
    width: 90%;
    cursor: pointer;
    max-height: 100%;  /* Prevent overflowing beyond container height */
    object-fit: contain;  /* Ensure image scales while maintaining aspect ratio */
}

#ovenModal .food{
    height: 90%;
    cursor: pointer;
    object-fit: contain;  /* Ensure image scales while maintaining aspect ratio */
}