/* popup for help */
/* the modal (overlay background) */
.modal {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 666666;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* to have a darkened background*/
}

/* to make the modal visible */
.modal.show{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* modal content/box */
.modalContent {
    background-color: #b9b9b9;
    width: 15%;
    height: 60%;
    border: 10px solid #323232;
    position: relative;
            
    border-radius: 10px;

    padding: 30px;
    
    /* z-index: 99999; */
}

#fridgeModal .modalContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; 
}

.openBtn{
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    display: none;
    z-index: 55555;
    position: absolute;
    cursor: pointer;
}

#fridgeBtn{
    top: -42px;
    left: 0;
}

#ovenBtn{
    top: 90px;
    left: 0;
}

.openBtn.show{
    display: flex;
}

/* the close button */
.close {
    color: white;
    background-color: red;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-shadow: none;
    text-align: center;
}

.close:hover, .close:focus {
    color: #dbdbdb;
    text-decoration: none;
    cursor: pointer;
}