:root{
    --pixel-size: 4;
}

body{
    background-image: url("img/furniture/planks2.png");
    background-size: 50px 50px;
    background-repeat: repeat;
    image-rendering: pixelated;
}

.character{
    width: calc(32px * var(--pixel-size));
    height: calc(33px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    z-index: 9999;
}

.animate_spritesheet{
    animation: moveSpritesheet 2s steps(3) infinite;
    left: 0 !important;
}

.character_spritesheet{
    left: calc(-32px * var(--pixel-size));
    width: calc(96px * var(--pixel-size));
    position: absolute;
}

.pixelart {
    image-rendering: pixelated;
}

@keyframes moveSpritesheet{
    from{
        transform: translate3d(0px,0,0)
    }
    to{
        transform: translate3d(-100%,0,0);
    }
}

.face-left{
    top: calc(-32px * var(--pixel-size));
}

.face-right{
    top: calc(-64px * var(--pixel-size));
}

.face-back{
    top: calc(-96px * var(--pixel-size));
}

#plate{
    width: calc(13px * var(--pixel-size));
    z-index: 12323;
    position: absolute;
    top: calc(17px * var(--pixel-size));
    left: calc(1px * var(--pixel-size));
}

.animate_plate{
    animation: movePlateRight 2s steps(3) infinite;
}

@keyframes movePlateRight{
    from{
        transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(10%,0,0);
    }
}

#feet {
    background-color: rgba(0, 255, 0, 0.3);
    width: calc(25px * var(--pixel-size));
    height: calc(3px * var(--pixel-size));
    position: absolute;
    bottom: 0;
    right: calc(3.5px * var(--pixel-size));
}

#wall img{
    position: absolute;
    top: 0;
    z-index: -99 !important;
}

#furniture img{
    position: absolute;
    z-index: 222;
}

#tiles{
    z-index: 1 !important;
}

/*
#kitchenSet{
    top: calc(12px * var(--pixel-size));
    left: 500px;
}

#stove{
    top: calc(12px * var(--pixel-size));
    left: 432px;
} */

#kitchen{
    position: absolute;;
    left: 300px;
}