:root {
    --pixel-size: 4;
}

body {
    background-image: url("img/furniture/planks2.png");
    background-size: 50px 50px;
    background-repeat: repeat;
    image-rendering: pixelated;
}

.character {
    width: calc(32px * var(--pixel-size));
    height: calc(33px * var(--pixel-size));
    overflow: hidden;
    position: absolute;
    z-index: 99;
}

.animate_spritesheet {
    animation: moveSpritesheet 2s steps(3) infinite;
    left: 0 !important;
}

.character_spritesheet {
    left: calc(-32px * var(--pixel-size));
    width: calc(96px * var(--pixel-size));
    position: absolute;
}

.pixelart {
    image-rendering: pixelated;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.face-left {
    top: calc(-32px * var(--pixel-size));
}

.face-right {
    top: calc(-64px * var(--pixel-size));
}

.face-back {
    top: calc(-96px * var(--pixel-size));
}

/*
#plate {
    width: calc(13px * var(--pixel-size));
    z-index: 12323;
    position: absolute;
    top: calc(17px * var(--pixel-size));
    left: calc(1px * var(--pixel-size));
} 

.animate_plate {
    animation: movePlateRight 2s steps(3) infinite;
}

@keyframes movePlateRight {
    from {
        transform: translate3d(0px, 0, 0);
    }

    to {
        transform: translate3d(10%, 0, 0);
    }
} */

#feet {
    background-color: rgba(0, 255, 0, 0.3);
    width: calc(22px * var(--pixel-size));
    height: calc(3px * var(--pixel-size));
    position: absolute;
    bottom: 0;
    right: calc(5px * var(--pixel-size));
}

#wall img {
    position: absolute;
    top: 0;
    z-index: -99 !important;
}

#furniture img {
    position: absolute;
    z-index: 9;
}


#kitchenSet{
    top: 0;
}

/*
#stove{
    top: calc(12px * var(--pixel-size));
    left: 432px;
} */

#kitchen {
    position: absolute;
    left: 50%;
    /* Place at the horizontal center */
    transform: translateX(-50%);
    /* Adjust to center horizontally */
}

#counter {
    position: absolute;
    z-index: 999;
    left: 50%;
    /* Place at the horizontal center */
    transform: translateX(-50%);
    /* Adjust to center horizontally */
}

#kitchen_floor {
    background-image: url("img/furniture/tiles.png");
    background-repeat: repeat; /* Repeat both horizontally and vertically */
    position: absolute;
    z-index: -9999;
    left: 50%;
    /* Place at the horizontal center */
    transform: translateX(-50%);
    /* Adjust to center horizontally */
}

#fireplace{
    bottom: 0;
    left: 0;
}

#feetJS {
    position: absolute;
    z-index: 9999;
    background-color: blue;
}

#newFeetJS{
    position: absolute;
    z-index: 99999;
    background-color: red;
}

#fridgeContainer, #ovenContainer{
    position: absolute;
}

/* popup for help */
/* the modal (overlay background) */
.modal {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 999999;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* to have a darkened background*/
}

/* to make the modal visible */
.modal.show{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* modal content/box */
.modalContent {
    background-color: #b9b9b9;
    width: 15%;
    height: 60%;
    border: 10px solid #323232;
    position: relative;
            
    border-radius: 10px;

    padding: 30px;
    
    /* z-index: 99999; */
}

#fridgeModal .modalContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; 
}

.openBtn{
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    display: none;
    z-index: 999999999;
    position: absolute;
    cursor: pointer;
}

#fridgeBtn{
    top: -42px;
    left: 0;
}

#ovenBtn{
    top: 90px;
    left: 0;
}

.openBtn.show{
    display: flex;
}

/* the close button */
.close {
    color: white;
    background-color: red;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-shadow: none;
    text-align: center;
}

.close:hover, .close:focus {
    color: #dbdbdb;
    text-decoration: none;
    cursor: pointer;
}